.input-div {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.input-div input {
  width: 200px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  outline: none;
  padding: 5px 10px;
}
.btn-create {
  border-radius: 12px;
  background: black;
  color: white;
  padding: 5px 20px;
}
.form {
  width: 50%;
  padding: 100px 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 150px auto;
  border: 1px solid black;
}
.title-register {
  letter-spacing: 0.1em;
}
